#map { height: 100vh; }

#gps{
    border: 2px solid #ccc;
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    padding: 6px 8px;
    position: fixed;
    top: 15%;
    left: 20px;
    z-index: 9999;
}

#gps:hover{
    background-color: #ccc;
}